body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ECE9ED;
    color: #333;
  }
  
  header{
    background-color: #fff;
    width: 100%;
  }
  .container {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    /* padding: 20px; */
    background-color: #ECE9ED
  }
  
  .logo {
    height: 60px;
    margin: 20px
  }
  
  .auth-box {
    background-color: #f8f6fa;
    padding: 40px;
    max-width: 400px;
    height: 320px;
    margin: 50px auto;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    text-align: left;
  }
  
  .auth-box input {
    display: block;
    width: 100%;
    margin: 10px 0;
    margin-top:25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  .auth-box input:hover{
    border-color: #700099;
  }
  .auth-box h2{
    margin-top: -15px;
    font-family: Inter, sans-serif;
    font-size: 32;
    font-style: normal;
    font-weight: 700;
  }
  .auth-box h3{
    margin-top: -15px;
  }
  .auth-box p{
    margin-top: 25px

  }
  .text-switch{
    text-align: center;

  }
  .text-switch a{
    color: #700099;
  }
  .btn {
    background-color: #AB00EA;
    color: #fff;
    border: none;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
  }
  
  .btn:hover {
    background-color: #700099;
  }
  
  .switch {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .footer-text {
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    color: #666;
  }
  
  .footer-text span {
    font-size: 10px;
  }
  
  .home header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    background: #999;
    border-radius: 50%;
  }
  
  .goal-section, .task-section {
    margin-top: 20px;
  }
  
  .goal-card, .task {
    background-color: #cc00ff;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    margin: 10px 0;
    width: 150px;
    text-align: center;
  }
  
  dino-area {
    margin-top: 30px;
    text-align: center;
  }
  
  .dino {
    max-height: 200px;
  }
  
  .toggle {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    gap: 5px;
  }
  